.card.catg a {
    display: block;
    padding: 5px;
}

.card.catg a span {
    font-size: 13px;
    color: #555;
}

.card.catg a::before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 2px;
    background: black; 
    border: 2px solid black;
    border-radius: 3px;
    position: relative;
    bottom: 3px;
    right: 8px;
}
